/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: rgba(24,187,154,1); // #151A21
//$--color-primary: #409EFF;
$--dropdown-menuItem-hover-fill: #151A21;
$--popover-fill: transparent;
$--popover-border-color: transparent;
$--table-header-color: #CAD5DB;
$--table-header-background: rgba(45,56,74,1);
$--table-text-color: #CAD5DB;  // #2D384A
$--table-border-color: #2D384A;
$--table-row-hover-background: rgba(37,45,58,1);
$--table-current-row-background: rgba(37,45,58,1);
$--button-default-fill: rgba(63,80,106,1);
$--button-default-color: #fff;
$--button-default-border: rgba(63,80,106,1);
  /* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
